*{
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
}

.login{
    /* background-image: url(); */
    background-color: white;
    width: 110%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -1300px;
    margin-top: 130px;
    margin-left: -60px;
    border-radius: 20px;
}
.login1{
    background-color: #000000BF;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
.login2{
    /* background-color: purple; */
    width: 70%;
    height: 80%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.login2 h1{
    color: white;
}
/* .login3{
    background-color: purple;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
} */
.box3{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}
.box3 .input{
    width: 99%;
    height: 40px;
    margin: 10px 0;
    height: 50px;
    border-radius: 5px;
    border: none;
    color: #8c8c8c;
    padding-left: 10px;
}
.box3 .textarea{
    height: 100px;
    padding-top: 10px;
}
.box3 #input_button{
    width: 100%;
    height: 40px;
    margin: 10px 0;
    height: 50px;
    border-radius: 5px;
    margin-top: 50px;
    background-color: red;
    color: white;
    border: none;
}

.signup{
    margin-top: 70px;
    width: 100%;
    display: flex;
    gap: 0.5rem;
}
.signup span{
    color: #8c8c8c;
}
.signup span a{
    color: white;
}


.help a{
    float: right;
    color: whitesmoke;
    text-decoration: none;
}

.check span{
    color: whitesmoke;
}

.description{
    margin-top: 10px;
    color: #8c8c8c;
}
.description span a{
    margin-left: 5px;
    color: rgb(95, 95, 245);
}
#input_button{
    cursor: pointer;
}


@media (max-width:375px){
    .login{
        /* display: none; */
        margin-left: -17px;
        margin-bottom: -11500px;
        margin-top: 50px;
    }
    .login1{
        width: 100%;
        background-color: rgb(1,27,51);

    }
    .login2{
        width: 90%;
    }
}